body {
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  background: linear-gradient(to bottom, #0f8b8d 0%, #1c1c1c 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  width: 100%;
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  color: #efeff0;
  background-color: #0f8b8d;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.493);
  border-radius: 5px;
  /* background: linear-gradient(to right, #0f8b8d, #074d4e); */
}
header div.container {
  width: 92%;
  display: flex;
  align-items: center;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .search-form input {
  width: 120px;
  padding: 4px;
  padding-right: 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

header .search-form input:focus {
  outline: none;
  border-color: #6b5e62;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

header .search-form button {
  padding: 0px 8px;
  font-size: 17px;
  color: #daddd8;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

header .search-form button:hover {
  background-color: #085a5c;
}

header nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #daddd8;
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
}

main {
  max-width: 90%;
  margin-top: 3rem;
}

section {
  width: 100%;
  margin-bottom: 40px;
}

section h2 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #ec9a29;
}

section .items {
  display: flex;
  gap: 40px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-color: #0f8b8d52 transparent;
}

section .items a {
  text-align: center;
  text-decoration: none;
  color: #daddd8;
}
section .items h3 {
  max-width: 300px;
  font-size: 21px;
  font-weight: unset;
  text-decoration: underline;
  transition: all 0.3s ease;
}

section .items h3:hover {
  transform: scale(0.97);
}

section .items img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.5s ease;
}

section .items img:hover {
  transform: scale(1.05);
}

body.movie-detail-page,
body.series-detail-page {
  display: flex;
  align-items: flex-start;
}

.movie-detail-page main,
.series-detail-page main {
  min-height: 100vh;
  margin-left: 5%;
  width: 100%;
  height: 100%;
}

.movie-detail,
.series-detail {
  color: #daddd8;
}

.movie-layout,
.series-layout {
  padding-top: 10px;
  display: flex;
  align-items: stretch;
  gap: 2rem;
}

.movie-cover,
.series-cover {
  width: 40%;
  min-width: 400px;
  max-width: 600px;
  border-radius: 10px;
}

.movie-rating,
.series-rating,
.movie-release-date,
.series-release-date,
.movie-duration,
.series-synopsis,
.movie-genre,
.series-genre {
  font-size: 1.4rem;
  margin: 15px 0;
}

.movie-genre a,
.series-genre a {
  color: #0f8b8d;
  text-decoration: none;
  font-weight: bold;
}

.movie-genre a:hover,
.series-genre a:hover {
  text-decoration: underline;
}

.movie-info,
.series-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 15px 15px 0px 50px;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 12px;
}

.movie-info span,
.series-info span {
  color: #b8bbb6;
  font-weight: 300;
}

.movie-title,
.series-title {
  margin: 0;
  font-size: 3rem;
  color: #ec9a29;
  margin-bottom: 20px;
}

.movie-rating,
.series-rating,
.movie-release-date,
.series-release-date,
.movie-duration,
.series-synopsis,
.movie-genre,
.series-genre {
  font-size: 1.4rem;
  margin: 15px 0;
}
.movie-synopsis,
.series-synopsis {
  max-width: 600px;
  text-align: start;
}

.movie-genre a,
.series-genre a {
  color: #0f8b8d;
  text-decoration: none;
  font-weight: bold;
}

.movie-genre a:hover,
.series-genre a:hover {
  text-decoration: underline;
}

.genres-page {
  width: 92%;
  height: 100vh;
  margin: 3rem auto;
  text-align: center;
}

main.genres-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genres-page .tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: white;
}

.tabs .back-button {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

.tabs a {
  padding: 5px 17px;
  font-size: 1.5rem;
  color: #daddd8;
  text-decoration: none;
  border: 1px solid #0f8b8d;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.tabs a:hover {
  background-color: #d17f1e;
  transform: scale(1.05);
}
.genres-page h2 {
  font-size: 2.5rem;
  color: #ec9a29;
  margin-bottom: 2rem;
}

.genres-list {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.genres-list a {
  display: inline-block;
  padding: 21px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #daddd8;
  text-decoration: none;
  background-color: #0f8b8d;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.genres-list a:hover {
  background-color: #ec9a29;
  color: #1c1c1c;
  transform: scale(1.05);
}

.genre-detail-page,
.search-results-page {
  height: 100vh;
  max-width: 90%;
  margin: 3rem auto;
  text-align: center;
}

main.search-results-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.genre-detail-page h1,
.search-results-page h1 {
  font-size: 2.5rem;
  color: #ec9a29;
  margin-bottom: 2rem;
}

.genre-items,
.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 35px;
}

.genre-items .item,
.results-list .result-item {
  text-align: center;
}

.genre-items img,
.results-list img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.genre-items img:hover,
.results-list img:hover {
  transform: scale(1.05);
}

.genre-items h3,
.results-list h3 {
  max-width: 300px;
  margin-top: 10px;
  color: #daddd8;
  font-size: 22px;
  font-weight: unset;
  letter-spacing: 0.5px;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.result-item h3:hover {
  transform: scale(0.95);
}

.no-results {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #daddd8;
  display: none;
}
.back-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.back-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #daddd8;
  text-decoration: none;
  background-color: #0f8b8d;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #ec9a29;
  color: #1c1c1c;
}

footer {
  width: 100%;
  max-width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #efeff0;
  background-color: #0f8b8d;
}

footer a {
  color: #00aced;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .social-media {
  margin: 10px 0;
}

.auth-page {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-form {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #0f8b8d;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.auth-form h1 {
  margin-bottom: 2rem;
  color: #ec9a29;
  font-size: 2.5rem;
}

.auth-form label {
  display: block;
  margin-bottom: 1rem;
  color: #daddd8;
  font-size: 1.2rem;
  text-align: left;
}

.auth-form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #daddd8;
  border-radius: 6px;
  background-color: #1c1c1c;
  color: #daddd8;
  font-size: 1.2rem;
}

.auth-form input:focus {
  outline: none;
  border-color: #ec9a29;
}

.auth-form button {
  width: 100%;
  padding: 1rem;
  background-color: #ec9a29;
  color: #1c1c1c;
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #d17f1e;
}

.auth-form .auth-link {
  display: block;
  margin-top: 1.5rem;
  color: #daddd8;
  text-decoration: none;
  font-size: 1.2rem;
}

.auth-form .auth-link:hover {
  text-decoration: underline;
}

.auth-form .checkbox-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  color: #daddd8;
  font-size: 1.2rem;
}

.checkbox-label input {
  padding: 0;
  margin: 0;
  margin-right: 0.8rem;
  width: unset;
}

@media (max-width: 1200px) {
  header .logo img {
    width: 250px;
  }
  section .items img {
    width: 150px;
    height: 200px;
  }
  section .items h3 {
    font-size: 18px;
  }
  .movie-layout,
  .series-layout {
    gap: 2rem;
  }
  .movie-info,
  .series-info {
    padding: 15px 15px 0px 20px;
    background-color: rgb(26, 23, 23);
    box-shadow: 0px 0px 50px -20px #0f8b8d9c;
    transition: all 0.8s ease;
    border: 1px solid #0f8b8d;
  }
  .movie-info:hover,
  .series-info:hover {
    transform: translateY(-4px) scale(1.01);
    box-shadow: 0px 0px 40px -10px #0f8b8dc4;
  }
  .movie-info h1,
  .series-info h1 {
    margin-top: 20px;
    font-size: 32px;
  }
  .movie-info p,
  .series-info p {
    font-size: 18px;
    margin: 8px 0;
  }
}
@media (max-width: 950px) {
  header {
    height: 120px;
  }
  header nav {
    justify-content: center;
  }
  header nav ul {
    padding: 5px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .movie-layout,
  .series-layout {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .movie-cover,
  .series-cover {
    min-width: 90%;
  }
  .genres-page .tabs {
    justify-content: center;
  }
  .genres-list a {
    padding: 17px 25px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
@media (max-width: 600px) {
  .auth-form {
    padding: 2rem;
  }

  .auth-form h1 {
    font-size: 2rem;
  }

  .auth-form button {
    font-size: 1.2rem;
  }
}
